PORT=3000

MONGO_URI=mongodb+srv://practice:practice@cluster0.i5hhz7n.mongodb.net/practice

MAX_REQUESTS_PER_WINDOW=1000000

MAX_REQUESTS_PER_MINUTE=15

REDIS_URL=redis://localhost:6379

NODE_ENV=development

